include LICENSE
include README.md
include requirements.txt
include requirements *.txt

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.md *.jpg *.png *.gif
