pip==19.2.3
bump2version==0.5.11
wheel==0.33.6
watchdog==0.9.0
flake8==3.7.8
tox==3.14.0
coverage==4.5.4
mkdocs-material==6.0.2
mkdocstrings==0.13.6
twine==1.14.0
mknotebooks==0.6.2
pytest==4.6.5
pytest-runner==5.1