name: Testing

on: [push, pull_request]

jobs:

  pytest:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.8", "3.9", "3.10"]
        include:
          - {os: 'ubuntu-20.04', python-version: "3.7", requires: 'oldest'}
          - {os: 'ubuntu-20.04', python-version: "3.8", requires: 'oldest'}

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set min. dependencies
        if: matrix.requires == 'oldest'
        run: |
          import os
          fname = 'requirements.txt'
          lines = [line.replace('>=', '==') for line in open(fname).readlines()]
          open(fname, 'w').writelines(lines)
        shell: python

      - name: Install main package & dependencies
        run: |
          pip install -e .[extra] -r requirements_dev.txt -f https://download.pytorch.org/whl/cpu/torch_stable.html
          pip list

      - name: Run test-suite
        run: python -m pytest -v
